<mat-toolbar>
  <mat-toolbar-row>
    <ng-container *ngIf="(user$ | async) as user; else notSignIn">
      <span>{{user.displayName}}</span>
      <span><app-sign-out></app-sign-out></span>
    </ng-container>
    <ng-template #notSignIn>
      <app-sign-in></app-sign-in>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
<ng-container *ngIf="(user$ | async); else pleaseSignIn">
  <ng-container [ngSwitch]="(status$ | async)">
    <ng-container *ngSwitchCase="'LEAVING'">
      <app-attend-button></app-attend-button>
    </ng-container>
    <ng-container *ngSwitchCase="'ATTENDING'">
      <app-leave-button></app-leave-button>
      <app-take-break-button></app-take-break-button>
    </ng-container>
    <ng-container *ngSwitchCase="'ONBREAK'">
      <app-come-back-button></app-come-back-button>
    </ng-container>
  </ng-container>
</ng-container>
<ng-template #pleaseSignIn><p>サインインしてね<app-sign-in></app-sign-in></p></ng-template>
